select {
  width: 85%;
  margin: 11px 0 11px 2%;
  float: left;
}

button {
  display: inline-block;
  line-height: 18px;
  padding: 0 5px;
  margin: 11px 2% 11px 0;
  float: right;
  width: 10%;
}

h1 {
  margin: 40px 0 10px;
  text-align: center;
  color: #384047;
}

p {
  text-align: center;
  color: #777;
}


